* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: calc((100% - 900px) / 2);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-column {
    width: 40%;
    flex-direction: column;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title > span {
    font-weight: normal;
}

.main-title::after {
    content:"";
    display: block;
    width: 80px;
    height: 5px;
    margin-top: 10px;
    background-color: darkslateblue;
}

.img-column {
    width:55%;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: #696868;
}

